@using EK_tracker.Models.ApiModels.Group;
@model List<GroupModel>

@foreach (GroupModel group in Model)
{
    <table class="table">
        <thead>
            <th scope="col">Land</th>
            <th scope="col">Gespeeld</th>
            <th scope="col">Gewonnen</th>
            <th scope="col">Gelijk</th>
            <th scope="col">Verloren</th>
            <th scope="col">punten</th>
            <th scope="col">Doelpuntensaldo</th>
        </thead>
        <tbody>
            @foreach (var country in group.Teams)
            {
                <tr>
                    <td><span><img src=@country.Team.ImageUrl/></span>@country.Team.Name</td>
                    <td>@country.MatchesPlayed</td>
                    <td>@country.Wins</td>
                    <td>@country.Draws</td>
                    <td>@country.Losses</td>
                    <td>@country.Points</td>
                    <td>@country.GoalDifference</td>
                </tr>
            }
        </tbody>
    </table>
}
